{% extends "medicine/frame.html" %}
{% block content %}

<style>
#mainTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#mainTable td, #mainTable th {
  padding: 8px;
}

#mainTable td{
  padding: 8px;
  font-size: 15px;
}
#mainTable tr:nth-child(even){background-color: #f2f2f2;}

#mainTable tr:hover {background-color: #ddd;}

#mainTable thead,th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 17px;
}

/* GENERAL CODE */


/* SEPERATE CODE */
#mainTable thead,th {
  background-color:#778899;
}
/* SEPERATE CODE */



#inventory {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#inventory td, #inventory th {
  padding: 8px;
}

#inventory td{
  padding: 8px;
  font-size: 15px;
}
#inventory tr:nth-child(even){background-color: #f2f2f2;}

#inventory tr:hover {background-color: #ddd;}

#inventory thead,th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 17px;
}

/* GENERAL CODE */


/* SEPERATE CODE */
#inventory thead,th {
  background-color:#778899;
}
/* SEPERATE CODE */




.subtitle
{
background-color:#F0E68C;
}
.spnhead{
  font-size: 20px;
  font-weight: bold;
}
.spndata{
  font-size: 18px;
  font-weight: bold;
}
</style>
  <script>
function getDistName()
{ 
  var val = $("#dis_type").val();
  $.ajax({
  type: "POST",
  url: "/getDistributorName",
  data:"dist_type_id=" + val,
  success: function(string){
    var data = JSON.parse(string)['data'];
	 $("#dis_id").html(htmlify(data));
  }
  });
};
function htmlify(val)
{
  var Data = "<option value=''>--Select--</option>";
  for (var index = 0; index < val.length; ++index) {
      var entry = val[index];
    Data = Data + "<option value='"+entry[0]+"'>"+entry[1]+"</option>";
    };
    return Data;
};
$(function()
  {
      $("#drugname").autocomplete
      ({
          source: function(request,response )
          {
            var drugname=document.getElementById('drugname').value;  
              $.ajax
              ({
                  type:"POST",
                  url: "getAllDrugname",
                  data:'drugname='+drugname,
                  success: function( data )
                  {
                    //alert(data['d'][2]);
                    response(data);
                  }
              });
          },
      });
  });
function bring()
{

	var valu = document.getElementById('drugname').value;
	$.ajax({
                  type:"POST",
                  url: "getSelectedDrug",
                  data:'drugtype='+valu,
                  success: function( string )
                  { 
					var data = JSON.parse(string)['drugdata'];
					
					$('#drug_id').val(data[0]);
					$('#drugname').val(data[1]);										
					$('#drugtype').val(data[2]);
                  }
              });
          }            
                
   $(document).ready(function()
	{
        $(".add-row").click(function()
				{
            mark = "";
			var drug_id= document.getElementById('drug_id').value;
            var drugnameid= document.getElementById('drugname').value;
            var drugtype=document.getElementById('drugtype').value;
            var batchid = document.getElementById('batch').value;
            //var dateid = document.getElementById('date').value;
            var hsncodeid = document.getElementById('hsncode').value;
            var qtyid = document.getElementById('qty').value;
            var rateid = document.getElementById('rate').value;
            var  expiryid= document.getElementById('expiry_d').value;
            var  mfgid= document.getElementById('mfg_d').value;
            var  qtymgid= document.getElementById('qty_mg').value;
            var  rackid= document.getElementById('rack').value;
            var  disid= document.getElementById('dis').value;
            var freeid= document.getElementById('free').value;
            var mrpid = document.getElementById('mrp').value;
            var  packid= document.getElementById('pack').value;
            var  taxamid= document.getElementById('tax_am').value;
            var  cgstid= document.getElementById('cgst').value;
            var  sgstid= document.getElementById('sgst').value;
            var  amtid= document.getElementById('amt').value;



            var chk = "<tr><td><input type='checkbox' name='record'></td>";
            mark = mark + chk

			
            var drugname = "<td><input type='text'  name='drugname' value='"+drugnameid+"'></td>";
            mark = mark + drugname;

			var drugtyp = "<td><input type='text'  name='drugtype' value='"+drugtype+"'></td>";
            mark = mark + drugtyp;

			var batch = "<td><input type='text' size='6' name='batch_no' value='"+batchid+"'></td>";
			mark = mark + batch;

            //var date = "<td><input type='date'  name='date' value='"+dateid+"' ></td>";
            //mark = mark + date;

			var hsncode = "<td><input type='text'  name='hsn_code' size='6' value='"+hsncodeid+"' ></td>";
            mark = mark + hsncode;

            var qty = "<td><input type='text' name='quantity'  size='6' value='"+qtyid+"' ></td>";
            mark = mark + qty;

            var rate = "<td><input type='text'  name='rate' size='6' value='"+rateid+"'></td>";
            mark = mark + rate;

            var expiry = "<td><input type='date'  name='expiry_date' value='"+expiryid+"'></td>";
            mark = mark + expiry;

            var mfg_d = "<td><input type='date'  name='manufacturing_date' value='"+mfgid+"' ></td>";
            mark = mark + mfg_d;

			var qty_mg = "<td><input type='text'   name='quantity_mg' size='12' value='"+qtymgid+"' ></td>";
            mark = mark + qty_mg;

           
            var dis = "<td><input type='text' name='discount' size='6' value='"+disid+"' ></td>";
            mark = mark + dis;

            var free = "<td><input type='text'  name='free_med' size='6' value='"+freeid+"'></td>";
            mark = mark + free;

            var mrp = "<td><input type='text'  name='mrp' size='6' value='"+mrpid+"'></td>";
            mark = mark + mrp;

            var pack = "<td><input type='text'  name='pack'  size='4' value='"+packid+"' ></td>";
            mark = mark + pack;

			var tax_am = "<td><input type='text'  name='taxable_amount'  size='6' value='"+taxamid+"' ></td>";
            mark = mark + tax_am;

            var cgst = "<td><input type='text' name='cgst' size='6' value='"+cgstid+"' ></td>";
            mark = mark + cgst;

            var sgst = "<td><input type='text'  name='sgst' size='6' value='"+sgstid+"'></td>";
            mark = mark + sgst;

            var amt = "<td><input type='text'  name='amt' size='6' value='"+amtid+"'></td>";
            mark = mark + amt;

			 var rack = "<td><input type='text'  name='rack_no' size='8' value='"+rackid+"' ></td>";
            mark = mark + rack;

			var drugid = "<td> <input type='text' style='display:none; name='drug_id' value='"+drug_id+"'></td>";
            mark = mark + drugid;

			var temp_qty = "<td><input style='display:none; type='text' name='temp_quantity'  size='6' value='"+qtyid+"' ></td></tr>";
            mark = mark + temp_qty

            $("#inventory tbody").append(mark);


          //autoclear input after pressing add button

			 document.getElementById('drug_id').value='';	
             document.getElementById('drugname').value='';
             document.getElementById('drugtype').value='';
             document.getElementById('batch').value='';
           //  document.getElementById('date').value='';
             document.getElementById('hsncode').value='';
             document.getElementById('qty').value='';
             document.getElementById('rate').value='';
             document.getElementById('expiry_d').value='';
             document.getElementById('mfg_d').value='';
             document.getElementById('qty_mg').value='';
             document.getElementById('rack').value='';
             document.getElementById('dis').value='';
             document.getElementById('free').value='';
             document.getElementById('mrp').value='';
             document.getElementById('pack').value='';
             document.getElementById('tax_am').value='';
             document.getElementById('cgst').value='';
             document.getElementById('sgst').value='';
             document.getElementById('amt').value='';
            });



        // Find and remove selected table rows
        $(".delete-row").click(function(){
            $("#inventory tbody").find('input[name="record"]').each(function(){
            	if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });

        });
    });
</script>

<div class="col12">
  <div id="content">
    <div class="titlebox">INVENTORY DETAILS</div>
     <br>
<form action ="new_inventory_Insert" method="POST">
<body>
	
       <div class="col-3">
        <span class="texttule">Distributor Type:</span>
            <select name="dist_type_id" id="dis_type" onchange="getDistName()" >
            <option value="">--Select--</option>
            {%for row in disdata%}
            <option value="{{row[0]}}">{{row[1]}}</option>
            {%endfor%}
          </select>
        </div>
        
      <div class="row myrow">
        <div class="col-3">
        <span class="texttule">Distributor Name:</span>
        <select name="dist_type_name"  id="dis_id">
        <option value=''>--Select--</option>
           </select>
        </div>
      <div class="col-3">  
	 <span class="texttule">Entry Date:</span>
	 <td><input  type="date" id="date"  name= "date" ></td>
		</div>
	
</div>

  		  <div style="width:100%;max-height:400px;line-height:1em;overflow:scroll;">
			  <br>
			  <br>
<table border=1 id="mainTable">
        <thead >
            <tr>
                <th>Drug Name</th>
                <th>Drug Type</th>
                <th>Batch Number</th>
                <th>HSN Code</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Expiry Date</th>
                <th>Manufacturing Date</th>
                <th>Quantity(Ml/Mg)</th>
                <th>Discount</th>
                <th>Free Medicine</th>
                <th>MRP</th>
                <th>Pack</th>
                <th>Taxable Amount</th>
                <th>CGST</th>
                <th>SGST</th>
                <th>Amount</th>
                <th>Rack Number</th>
                <th>+</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
			
    <div class="ui-widget">
		<td><input type="text" id="drugname" name= "ddrug_name"  onblur="bring()"></td>
    </div>
		<input id="drug_id" name="drug_id" style="display:none;" >
		<td><input type="text" id="drugtype"  name= "ddrugtype"  size="9" readonly></td>
		<td><input type="text" id="batch"  name= "dbatch"  size="6"></td>
		<td><input type="text" id="hsncode"  name= "dhsncode" size="7" ></td>
		<td><input type="text" id="qty"  name= "dquantity"  size="7"></td>
		<td><input type="text" id="rate"  name= "drate"  size="7"></td>
		<td><input type="date" id="expiry_d"  name= "dexpirydate" ></td>
		<td><input type="date" id="mfg_d"  name= "dmfg_date" ></td>
		<td><input type="text" id="qty_mg"  name= "dqty_mg" size="12"></td>
		<td><input type="text" id="dis"  name= "ddiscount" size="6" ></td>
		<td><input type="text" id="free"  name= "dfree_med" size="6"></td>
		<td><input type="text" id="mrp"  name= "dmrp" size="5"></td>
		<td><input type="text" id="pack"  name= "dpack" size="5"></td>
		<td><input type="text" id="tax_am"  name= "dtaxable_amt"size="7" ></td>
		<td><input type="text" id="cgst"  name= "dcgst" size="7"></td>
		<td><input type="text" id="sgst"  name= "dsgst" size="7"></td>
		<td><input type="text" id="amt"  name= "damt" size="5"></td>
		<td><input type="text" id="rack"  name= "drack_no" size="6" ></td>
		<td><input type="button" class="add-row" value="Add Details"></td>
        <td><input type="button" class="delete-row" value="Delete"></td>

        </tbody>
    </table>

<br>
<br>
<table border=1 id="inventory" >
        <thead>
            <tr>
				<th style=width:1>Select</th>
                <th>Drug Name</th>
                <th>Drug Type</th>
                <th>Batch Number </th>
                <th>HSN Code</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Expiry Date</th>
                <th>Manufacturing Date</th>
                <th>Quantity(Ml/Mg)</th>
                <th>Rack Number</th>
                <th>Discount</th>
                <th>Free Medicine</th>
                <th>MRP</th>
                <th>Pack</th>
                <th>Taxable Amount</th>
                <th>CGST</th>
                <th>SGST</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  
        <br>
        <br>
        <div class="row myrow">
        <div class="col-5"></div>
        <div class="col-3">
          <input type="submit" class="button" id='btnsave' value="SAVE" style="height:30px;width:110px;">
          </div> </div>
        <br><br></div>
      </div>
</form>
<div class="col=5"><p><b> {{ack}}</b></p></div>
        </div>
</body>
{% endblock %}
