{% extends "Frame/framepage.html" %}
{% block content %}

<div class="col12">
  <div id="content">
    <div class="titlebox">OPD Patient Visit Report</div>
    <br>

    <form action="getUpdatePatient" method="POST">
    <div class="row myrow">
        <div class="col-3">
            <span class="texttule">RegNo:</span>
            <input type="text" name="regno" style="width:120px;" required>
            <input type="submit" value="Search">
        </div>
      </form>
    <br>
    <p>{{ack}}</p>
  </div>
  </div> <!--- Content --->
</div><!--- col-12 --->
<br>

{% endblock %}
