{% extends "Frame/framepage.html" %}
{% block content %}


<style>
.subtitle
{
background-color:#F0E68C;
}
.spnhead{
  font-size: 20px;
  font-weight: bold;
}
.spndata{
  font-size: 18px;
  font-weight: bold;
}
</style>
<div class="col12">
  <div id="content">
    <div class="titlebox">Upload Documents Of Patient
    </div>

    <form action="getOpdDocUp" method="POST">
    <div class="row myrow">
        <div class="col-3">
            <span class="texttule">RegNo:</span>
            <input type="text" name="regno" style="width:120px;" required>
            <input type="submit" value="Search">
        </div>
      </form>

    <br>
  </div>
</div> <!--- Content --->
</div><!--- col-12 --->

<br>

{%if ack != ' '%}
  <div class="row myrow">
    <div class="col-3">{{ack}}</div>
  </div>
{%endif%}


{%endblock%}
